:root {
    --font: #201c1c;
    --red: #ea3a3a;
    --blue: #4758d6;
    --white: #eeeded;
    --yellow: #e1811f;
  }

/* font for headers */

  h1,h2,h3,h4,h5,h6,a,li {
    font-family: 'Outfit';
  }
/* font for paragraphs */
  p {
    font-family: 'Tilt Neon';
  }
/* Restting all anchor styling */
  a {
    color: inherit;
    text-decoration: none;
}
/* css reset */
* {
    margin: 0;
    padding: 0;
}
/* anchor styling */
a:hover {
  background-color: var(--yellow);
}

a:active {
  background-color: var(--red);
  box-shadow: 0 5px var(--blue);
  transform: translateY(4px);
}
/* navbar with css flexbox starts here*/
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    background-color: var(--white);
    height: 5rem;
    width: 100%;
    font-size: 2rem;
   }
   /* form styling for small screens
    */
   
    @media only screen and (max-width: 600px) {
       .nav-list {
         flex-direction: column;
         height: fit-content;
       }
       .logo {
           margin-left: 50%;
       }
   
       body {
           background-color: var(--white);
       }
   
      
   
     
       
      
   .banner-text {
       font-size: 0.02rem;
   }
     } 
   
   .nav-item {
       text-decoration: none;
       list-style-type: none;
       margin-right: 2rem;
       
   }
   
   
   .nav-item a {
       text-decoration: none;
       color: var(--blue);
   }
   
   .nav-item:first-child {
       margin-right: auto;
       margin-left: 1rem;
   }
   
   /* navbar ends here */
   
/* form styling */

.header-form {
  text-align: center;
  font-size: 2rem;
}
html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family:'Tilt Neon' , Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  }
  h1 {
  margin: 0 0 20px;
  font-weight: 400;
  color: var(--blue);
  }
  p {
  margin: 0 0 5px;
  }
  .main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--blue);
  width: 90%;
  border: 2px solid black;
  margin: 0 auto;
  }
  form {
  padding: 25px;
  margin: 25px;
  box-shadow: 0 2px 5px var(--white); 
  background: var(--white); 

  }
  .fas {
  margin: 25px 10px 0;
  font-size: 72px;
  color: var(--white);
  }
  /* Used transform properties to play with ICONS */
  .fa-envelope {
  transform: rotate(-20deg);
  }
  .fa-at , .fa-mail-bulk{
  transform: rotate(10deg);
  }
  input, textarea {
  width: calc(100% - 18px);
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid var(--blue);
  outline: none;
  }
  input::placeholder {
  color: var(--font);
  font-size: larger;
  text-transform: uppercase;
  }
  button {
  width: 100%;
  padding: 10px;
  border: none;
  background: var(--red); 
  font-size: 2rem;
  font-weight: 400;
  color: var(--white);
  font-family: 'Tilt Neon';
  }
  button:hover {
  background: var(--blue);
  }    
  @media (min-width: 600px) {
  .main-block {
  flex-direction: row;
  }
  .left-part, form {
  width: 50%;
  }
  .fa-envelope {
  margin-top: 0;
  margin-left: 20%;
  }
  .fa-at {
  margin-top: -10%;
  margin-left: 65%;
  }
  .fa-mail-bulk {
  margin-top: 2%;
  margin-left: 28%;
  }

  a:hover {
    background-color: var(--red);
  }
  }


/* Footer starts here */
.footer {
    text-decoration: none;
    list-style-type: none;
    /* margin-right: 2rem; */
    background-color: var(--red);
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 10vh;
    align-items: center;
    
}

.footer li {
    list-style: none;
    font-size: 2rem;
   
}


.footer a {
    text-decoration: none;
    color: var(--white);
}
.footer a:hover {
  background-color: var(--white);
  color: var(--red);
}

/* Footer ends here */